<div class="card">
  <div class="card-body text-center">
    <img
      width="150"
      height="150"
      class="rounded-circle img-thumbnail border-danger"
      [src]="user.picture?.large"
      alt="User Image"
    />
    <div class="card-title text-primary">
      <h1>
        <span class="px-2">{{ user.name?.title }}.</span>
        <span class="px-2">{{ user.name?.first }}</span>
        <span class="px-2">{{ user.name?.last }}</span>
      </h1>
    </div>
    <div class="card-text">
      <fa-icon [icon]="faPhone"></fa-icon>
      {{ user.phone }}
    </div>

    <div class="card-text">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      {{ user.email }}
    </div>

    <div class="card-text">
      <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
      {{ user.location?.street?.number }} {{ user.location?.street?.name }},
      {{ user.location?.city }}
      <br />
      {{ user.location?.state }}, {{ user.location?.country }} -
      {{ user.location?.postcode }}
    </div>

    <div class="card-text">
      <fa-icon [icon]="faBirthdayCake"></fa-icon>
      {{ user.dob?.date | date }}, Age: {{ user.dob?.age }}
    </div>
  </div>
</div>

<br />

<button class="btn btn-primary btn-xl" type="submit">
  <a onClick="window.location.reload()">Refresh Data</a>
</button>
